# Folders
.Rproj.user/
data/norway_municipalities

# History files
.Rhistory
.Rapp.history

# RDS files
*.rds
!data/*.rds

# PDF files
*.pdf

# PNG files
*.png 

# Shape files
*.shp

# .zip archives
*.zip