# Folders
.Rproj.user/
data/

# History files
.Rhistory
.Rapp.history

# RDS files
*.rds

# PDF files
*.pdf

# Shape files
*.shp

# Word files
*.docx

# Quarto files
Manuscript_Nilsen_Nater_files/
